<form action="/" method='post'><div style="text-align:center;padding-top:50px">
<input type="text" name="u" placeholder="URL" style="font-size:.5em"><br /><input type="submit" value="Go">
</div></form>