<form action="/" method='post'><div class='form_row' style="text-align:center;padding-top:50px">
<input type="text" name="u" placeholder="Enter URL" style="font-size:5em"><br /><input type="submit" value="Go" style="font-size:2em">
</div></form>